[submodule "Rover-Documentation-Template"]
	path = Rover-Documentation-Template
	url = git@github.com:RescueOnWheels/Rover-Documentation-Template.git
[submodule "Rover-Definition-of-Done"]
	path = Rover-Definition-of-Done
	url = git@github.com:RescueOnWheels/Rover-Definition-of-Done.git
